.menuParent .wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  transition: all 0.6s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuParent #active:checked ~ .wrapper{
  right:0;
}

.menuParent .menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuParent .menu-btn span,
.menuParent .menu-btn:before,
.menuParent .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menuParent .menu-btn:before{
  transform: translateY(-8px);
}
.menuParent .menu-btn:after{
  transform: translateY(8px);
}

.menuParent .close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}

/* closing animation */
.menuParent #active:checked + .menu-btn span {
  transform: scaleX(0);
}
.menuParent #active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
.menuParent #active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.menuParent .wrapper  a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menuParent input[type="checkbox"]{
  display: none;
}

.menuParent #active:checked ~ .wrapper a{
  opacity: 1;
}
.menuParent .wrapper a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
.menuParent #active:checked ~ .wrapper a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
}