@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: rgb(255, 255, 255);
    --bg-color: #212121;
}

* {
    transition: all 0.2s ease-out allow-discrete;
}

html, body {
    height: 100%;
    background-color: var(--bg-color) !important;
    font-family: "Noto Sans", sans-serif;
}

main {
    color: var(--color);
}

footer {
    background-color: black;
    color: #808B88;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:link {
    color:#808B88;
}
a:visited {
    color: #808B88;
}
a:hover {
    color: #fff; 
}
a:active {
    color:#7476b4;
}


.asd {
    background-color: #808B88;
    border-color: #808B88;
    border: 1px;
    color: white;
}
.asd:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 5px;
}
/*+CSS*/
.logo {
    background-image: url(asssets/img/logo.png);
}

.kezdoH1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.felviD {
    padding-top: 30px;
}
.eler {
    font-size: larger;

    }

.oktatasSP {
    background-color: #808B88;
    color: #fff;
}
.oktatasSP a:hover {
    background-color: #626967;
    color: #fff;
}
.kepek {
    size: 75%;
}

.footera :link {
    text-decoration: none;
}

/* scrollspy */
.scrollspy {
    background-color: white;
    border: solid 1px white;
    border-radius: 4px;
}

.stickedScrollspy {
    position: sticky;
    top: 10px;
}

@media (max-width: 768px) {
    .stickedScrollspy {
        position: relative;
    }
}

.scrollspy a {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}

.scrollspy a:hover {
    background-color: #212121;
    color: white;
}