@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: rgb(255, 255, 255);
    --bg-color: #212121;
}

* {
    transition: all 0.2s ease-out allow-discrete;
}

html, body {
    height: 100%;
    background-color: var(--bg-color) !important;
    font-family: "Noto Sans", sans-serif;
}

main {
    color: var(--color);
}

footer {
    background-color: black;
    color: #808B88;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #808B88;
}
a:hover {
    color: #fff; 
}
a:active {
    color:#7476b4;
}

.redirection {
    color: #808B88;
    text-decoration: none;
    cursor: pointer;
}

.redirection.kezd:hover {
    color: black;
}

.asd {
    background-color: #808B88;
    border-color: #808B88;
    border: 1px;
    color: white;
    display: block;
}
.asd:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 5px;
}
/*+CSS*/
.logo {
    z-index: 2;
    position: relative;
}

.kezdoH1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
    position: relative;
}

.felviD {
    padding-top: 30px;
}
.eler {
    font-size: larger;

    }

.oktatasSP {
    background-color: #808B88;
    color: #fff;
}
.oktatasSP a:hover {
    background-color: #626967;
    color: #fff;
}
.kepek {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -70px;
    background-image: url("/assets/img/Photo 2024. 02. 21. 14 19 11.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.kepek:after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,0.4);
    pointer-events: none;
}

.footera :link {
    text-decoration: none;
}
.asd1 {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding-top: 15px;
}

.asd2 {
    border-left: solid 5px white;
}
span {
    text-decoration: underline;
}

.koszontoParent {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.koszonto {
    border: 1px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.65);
    color: #181a19;
    padding: 0px 20px;
    text-align: center;
}
.kerdesek {
    background-color: #181a19;
    height: 80%;
}
/* scrollspy */
.scrollspy {
    background-color: white;
    border: solid 1px white;
    border-radius: 4px;
}

.stickedScrollspy {
    position: sticky;
    top: 10px;
}

@media (max-width: 768px) {
    .stickedScrollspy {
        position: relative;
    }

    .asd2 {
        border-left-color: transparent;
    }
}

.scrollspy a {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}

.scrollspy a.active {
    background-color: #808B88;
    color: white;
}

.scrollspy a:hover {
    background-color: #212121;
    color: white;
}